q-page {
  margin: 0;
  padding: 0;
  min-height: 0;
  height: 100%;
}
.my-sticky-header-table {
  /* height or max-height is important */
  height: 97vh;
  margin: 0;
  padding: 0;
  /* this is when the loading indicator appears */
  /* prevent scrolling behind sticky top row on focus */
}
.my-sticky-header-table .q-table__top,
.my-sticky-header-table .q-table__bottom,
.my-sticky-header-table thead tr:first-child th {
  /* bg color is important for th; just specify one */
  background-color: var(--q-dark);
}
.my-sticky-header-table thead tr th {
  position: sticky;
  z-index: 1;
}
.my-sticky-header-table thead tr:first-child th {
  top: 0;
}
.my-sticky-header-table.q-table--loading thead tr:last-child th {
  /* height of all previous header rows */
  top: 48px;
}
.my-sticky-header-table tbody {
  /* height of all previous header rows */
  scroll-margin-top: 48px;
}