.q-card[data-v-676f6140] {
  border-radius: var(--corner-radius-medium);
  border: 2px solid var(--card-stroke);
  box-shadow: var(--box-shadow-default);
  background-color: transparent;
  color: var(--text-primary);
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.q-card .q-card__section[data-v-676f6140] {
  padding: 0;
}
.q-card img[data-v-676f6140] {
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
}
.q-card .q-card__section.info[data-v-676f6140] {
  position: relative;
  height: 100%;
  padding-bottom: 1em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 2em;
  background: var(--card-fill);
  border-radius: 0;
  transition: all 0.2s ease-in-out;
}
.q-card .q-card__section.info .material_number[data-v-676f6140] {
  top: 0;
  transform: translateY(-55%);
}
.q-card .q-card__section.info .title[data-v-676f6140] {
  margin: 0;
  font-size: 24px;
  line-height: 120%;
  font-weight: 700;
}
.q-card .q-card__section.info .type[data-v-676f6140] {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  margin: 0;
  text-transform: capitalize;
}
.part-overview:hover .q-card__section.info[data-v-676f6140] {
  background-color: var(--card-fill-hover);
  color: var(--card-text-hover);
}.my-page[data-v-00aa61b6] {
  display: flex;
  flex-direction: column;
  min-height: 0;
  height: 100%;
  margin: 0 auto;
}
@media (width >= 2280px) {
.my-page[data-v-00aa61b6] {
    --container-spacing: 0;
    max-width: 1700px;
}
}
.my-page .card-wrapper[data-v-00aa61b6] {
  flex-grow: 1;
  overflow: visible;
  min-height: 80vh;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
}
.my-page .card-wrapper li[data-v-00aa61b6] {
  margin: 0;
}
.my-page .card-wrapper .my-card[data-v-00aa61b6] {
  width: 100%;
  max-width: 32.5%;
  overflow: visible;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}
@media (width <= 900px) {
.my-page .card-wrapper .my-card[data-v-00aa61b6] {
    max-width: 50%;
}
}
@media (width <= 560px) {
.my-page .card-wrapper .my-card[data-v-00aa61b6] {
    max-width: 100%;
}
}
@media (width >= 2000px) {
.my-page .card-wrapper .my-card[data-v-00aa61b6] {
    max-width: 25%;
}
}
.my-page .card-wrapper .my-card .clickable[data-v-00aa61b6] {
  cursor: pointer;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  overflow: visible;
}.my-page .markdown-body h1:first-child {
  margin-left: 2.5em;
}