.q-card[data-v-25cca5ae] {
  border-radius: var(--corner-radius-medium);
  border: 2px solid var(--card-stroke);
  box-shadow: var(--box-shadow-default);
  background-color: transparent;
  color: var(--text-primary);
  width: 100%;
  overflow: hidden;
}
.q-card .q-card__section[data-v-25cca5ae] {
  padding: 0;
}
.q-card img[data-v-25cca5ae] {
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
}
.q-card .q-card__section.info[data-v-25cca5ae] {
  position: relative;
  padding: var(--padding-m, 32px) var(--padding-m, 32px) var(--padding-l, 40px);
  padding-top: 3em;
  background: var(--card-fill);
  border-radius: 0;
  transition: all 0.2s ease-in-out;
}
.q-card .q-card__section.info .material_number[data-v-25cca5ae] {
  top: 0;
  transform: translateY(-55%);
}
.q-card .q-card__section.info .title[data-v-25cca5ae] {
  margin: 0;
  font-size: 36px;
  line-height: 120%;
  font-weight: bold;
}
.q-card .q-card__section.info .type[data-v-25cca5ae] {
  font-size: 32px;
  margin: 0;
  text-transform: capitalize;
}
.part-overview:hover .q-card__section.info[data-v-25cca5ae] {
  background-color: var(--card-fill-hover);
  color: var(--card-text-hover);
}.my-page[data-v-278f8749] {
  display: flex;
  flex-direction: column;
  min-height: 0;
  height: 100%;
  margin: 0 auto;
}
@media only screen and (min-width: 2280px) {
.my-page[data-v-278f8749] {
    --container-spacing: 0;
    max-width: 1680px;
}
}
.my-page .card-wrapper[data-v-278f8749] {
  flex-grow: 1;
  overflow: visible;
  min-height: 80vh;
  list-style: none;
  padding: 0;
}
.my-page .card-wrapper li[data-v-278f8749] {
  margin: 0;
}
.my-page .card-wrapper .my-card[data-v-278f8749] {
  width: 100%;
  min-width: 15rem;
  width: 32.5%;
  overflow: visible;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.my-page .card-wrapper .my-card .clickable[data-v-278f8749] {
  cursor: pointer;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  overflow: visible;
}