.MDCode[data-v-a88cb049] {
  position: relative;
}
.MDCode .codeWeb[data-v-a88cb049] {
  position: absolute;
  top: 3.5em;
  right: 1.5em;
  z-index: 10;
}.MDAbbr[data-v-fa8e34f6] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}.q-tooltip.MDAbbrDescription {
  margin: 0;
}
.q-tooltip.MDAbbrDescription h1 {
  font-size: 1.5rem;
  line-height: 110%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.q-tooltip.MDAbbrDescription p {
  margin-bottom: 0.5rem;
}.jsondata[data-v-f3b163b8] {
  display: none;
  white-space: pre;
  font-family: monospace;
}.video-embed[data-v-5b13e3db] {
  display: block;
  width: 560px;
  height: 315px;
  background: var(--card-fill);
}
.question[data-v-5b13e3db] {
  display: block;
  width: 100%;
  height: 100%;
  padding: 2em;
  font-size: 0.7em;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}