// app global css in SCSS form

@import 'mys-colors.scss';
@import 'fonts/source-sans-3/source-sans-3.css';
@import 'fonts/Fira_Code/fira_code.css';

:root {
    --display-large: 48px;
}

:root {
    --padding-l: 40px;
    --padding-m: 32px;
    --padding-s: 24px;
    --padding-xl: 48px;
    --padding-xs: 20px;
}

:root {
    --corner-radius-medium: 24px;
}

body {
    font-size: 20px;
}

body,
body.body--light {
    --text-primary: var(--mys-blue-950);
    --text-primary-contrast: var(--mys-blue-100);

    --link-hover-color: var(--mys-blue-600);
    --link-hover-color-light: var(--mys-blue-300);

    --card-stroke: var(--mys-blue-950);
    --card-text: var(--mys-blue-100);
    --card-text-hover: var(--mys-blue-50);
    --card-fill: var(--mys-blue-100);
    --card-fill-hover: var(--mys-blue-950);
    --card-fill-accent: var(--mys-blue-200);
    --box-shadow-default: var(--mys-blue-950) 4px 4px 0px 0px;
    // button
    --button-fill: var(--mys-blue-100);
    --button-shadow: var(--mys-blue-300);
    // button hover
    --button-hover-text: var(--mys-blue-950);
    --button-hover-stroke: var(--mys-blue-600);
    --button-hover-fill: var(--mys-blue-300);
    // button active
    --button-active-text: var(--mys-blue-100);
    --button-active-stroke: var(--mys-blue-950);
    --button-active-fill: var(--mys-blue-600);
    --button-active-shadow: var(--mys-blue-950);

    --main-background: var(--mys-basics-50);
    --main-background-dots: hsla(198, 63%, 15%, 0.5);
    // --main-background-dots: var(--mys-blue-950);
}

body.body--dark {
    --text-primary: var(--mys-blue-100);
    --text-primary-contrast: var(--mys-blue-950);

    --card-stroke: var(--mys-blue-300);
    --card-text: var(--mys-blue-100);
    --card-text-hover: var(--mys-blue-50);
    --card-fill: var(--mys-blue-950);
    --card-fill-hover: var(--mys-blue-700);
    --card-fill-accent: var(--mys-blue-900);
    --box-shadow-default: var(--mys-blue-950) 4px 4px 0px 0px;

    --main-background: var(--mys-blue-950-dark);
    --main-background-dots: hsla(198, 63%, 100%, 1);
}

body {
    background-color: var(--main-background) !important;
}

body {
    background-image:
        radial-gradient(circle at 33% 50%, var(--main-background-dots) 0.03rem, transparent 0),
        radial-gradient(circle at 66% 50%, var(--main-background-dots) 0.03rem, transparent 0);
    background-repeat: round;
    background-size: 3.1rem 1.4rem;
}

a {
    color: var(--text-primary);
}

body.body--light {
    color: var(--mys-blue-950);
}

body.body--dark {
    color: $text-on-dark;
}

body.body--dark .q-dark {
    color: $text-on-dark;
}

body.body--dark code:not(.hljs) {
    color: hsl(180, 6.9%, 60.4%);
    background: hsl(192.2, 100%, 10.6%);
    padding: 0.1em 0.5em;
}

body.body--light code:not(.hljs) {
    color: hsl(194, 14%, 40%);
    background: hsl(44, 87%, 94%);
    padding: 0.1em 0.5em;
}

html {
    font-size: 16px;
}

@media (max-width: 900px) {
    html {
        font-size: 11px;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 16px;
    }
}

@media (min-width: 1920px) {
    html {
        font-size: 20px;
    }
}

// input,
// .q-field__native {
//     background-color: var(--main-background);
// }

.material_number {
    position: absolute;
    margin: 0;
    border-radius: 60px;
    border: 1px solid var(--card-stroke);
    box-shadow: var(--box-shadow-default);
    // padding: var(--padding-xs) var(--padding-xs);
    padding: 0.5em;
    min-width: 1.5em;
    aspect-ratio: 1/1;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--card-fill-accent);
    color: var(--text-primary);
}

// headings
.header-anchor {
    text-decoration: none;
}

.header-anchor:hover {
    -webkit-text-decoration: underline;
    text-decoration: underline;
}

// .markdown-body {
// }

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Source Sans 3';
    font-family: 'Fira Code';
}
