// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.


$mks-blue: rgb(104, 191, 202);
$mks-green: rgb(176, 171, 3);
$mks-yellow:  rgb(245, 157, 33);
$mks-orange:  rgb(234, 96, 49);
$mks-gray: rgb(239, 239, 239);

$primary: $mks-blue;
$secondary: $mks-yellow;
$accent: $mks-orange;

$text: hsl(194, 26%, 22%);
$text-on-dark: hsl(194, 26%, 82%);

$dark: #1d1d1d;
$dark-page: #121212;

$positive: $mks-green;
$negative: $mks-orange;
$info: $mks-blue;
$warning: $mks-yellow;
