// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.


$mks-blue: hsl(187, 48%, 60%);
$mks-green: hsl(58, 97%, 35%);
$mks-yellow:  hsl(35, 91%, 55%);
$mks-orange:  hsl(15, 81%, 55%);
$mks-gray: hsl(0, 0%, 94%);

$primary: $mks-blue;
$secondary: $mks-yellow;
$accent: $mks-orange;

$text: hsl(194, 26%, 22%);
$text-on-dark: hsl(194, 26%, 82%);

$dark: hsl(0, 0%, 11%);
$dark-page: hsl(0, 0%, 7%);

$positive: $mks-green;
$negative: $mks-orange;
$info: $mks-blue;
$warning: $mks-yellow;
